<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/about.css">

<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <div class="scroll-tracker"></div>


    <div class="container-md" id="skills">

        <!--        <h3>Skills</h3>  -->
        <!--        <hr id="base-line">  -->
        <!--        <h4>Novice</h4>  -->
        <!--        <h4>Expert</h4>  -->

    </div>
    <img src="../static/cmd_header.png">
    <div>
        <h1 id="txt1">C:/apextracker/> ./run Curious problem solver</h1>
        <h1 id="txt2">                 on a journey...</h1>
        <h1 id="empty-space">running...</h1>
        <h1 id="linkedin">>>> loading <a href="https://www.linkedin.com/in/cobyts/">linkedin</a>...</h1>
        <h1 id="github">>>> loading<a href="https://github.com/CSaltx"> github</a>...</h1>
        <h1 id="display">>>> Starting Display </h1>
        <h1 id="info">Meet Coby Schumitzky, student at LMU</h1>
        <h1 id="overflow">(click above links to learn more)</h1>
    </div>

    <div>
        <button id="back" class="button" type="submit" value="Back" onclick="history.back()"></button>

    </div>
</body>
</html>