<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/opening.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APEX TRACKER</title>
</head>
<body>

    <img src="/static/%5Bremoval.ai%5D_tmp-62fd8048e39a0_YWU1M9-modified.png" id="mainImg">

  <div class="txt">
      <a href="{{ url_for('about') }}">
        <h1 id = "white" data-hover="About">Made</h1>
      </a>
      <a href="{{ url_for('contact') }}">
        <h1 id="for" data-hover="Contact">For</h1>
      </a>
      <a href="{{ url_for('apexTracker') }}">
        <h1 id="gamers" data-hover="Enter.">Gamers.</h1>
      </a>
  </div>
</body>
</html>